<center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Escudo-UNAM-escalable.svg/683px-Escudo-UNAM-escalable.svg.png" alt="" width="200" algin = "center"/></center>
<center><img src="https://lesaunam.com/wp-content/uploads/2019/01/ENES-logo-02.png" alt="" width="200"/></center>
<center><font size="+2">Tecnologías para la Información en Ciencias</font></center>
<center><font size="+3">Introducción a la Ciencia de Datos</font></center>
<center><font size="+4">Proyecto: Métricas y validación cruzada</font></center>
<center><font size="+2">Alumno: Juan Pablo Maldonado Castro</font></center>
<center><font size="+2">Número de cuenta: 420138620</font></center>
<center><font size="+2">Fecha de entrega: 19 de septiembre de 2021</font></center>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Introducción

El objetivo de este proyecto es aplicar modelos de aprendizaje automático supervisado para poder realizar la clasificación del **GDP** de distintos países. Para ello vamos a apoyarnos en un conjunto de datos que contiene información de los países como su población, área, porcentaje de usuario de Internet, tasa de cambio, etc. 

Una vez que hayamos aplicado los distintos modelos de aprendizaje, el segundo objetivo es poder determinar cuál es el mejor modelo de los utilizados. Esto lo haremos con ayuda de la validación cruzada. Todo esto es con el fin de poder realizar un proyecto donde se involucre un proceso de: limpieza, transformación, codificación y normalización de datos. Lo cual tiene la finalidad de poder usarlos para hacer modelos de clasificación que nos permitan predecir valores de datos futuros cuyo valor en la columna a predecir desconozcamos.

La intención es hacer todo esto con las herramientas que ya se han manejado anteriormente de **pandas**, y ahora aplicar todo esto a nuevas funciones ofrecidas por la librería **sklearn**. Esta cuenta con muchos recursos para poder hacer varios procesos de aprendizaje automático.

## Problema

Empleando la información del archivo: **cia_países.xlsx**

plantear tres modelos de aprendizaje automático supervisado para realizar la clasificación de los países en:
* ingreso-bajo
* ingreso-medio
* ingreso-alto

conforme a su Producto Interno Bruto (en inglés GDP - Gross Domestic Product). Para ello resolver el planteamiento utilizando validación cruzada de 5 partes, a fin de determinar cuál es en realidad el mejor de los tres modelos planteados considerando las métricas de :

* Exactitud (Accuracy)
* Precisión.
* Sensibilidad (Recall).
* $F_1$

## Desarrollo

### Data Wrangling

Lo primero que necesitamos es hacer un proceso de *Data Wrangling* para tener nuestros datos lo más limpios posible. Para ello, primero cargamos el conjunto de datos proporcionado:

In [2]:
df = pd.read_excel('cia_países.xlsx')
df

,Name,Continent,Area (km²),Population,GDP (USD),Unemployment Rate,Taxes (% of GDP),External Debt (USD),Exchange Rate (USD),Internet Users,Internet Users Percentage of Population,Airports,Roadways (km),Militar Expenditures (% of GDP)
0,Afghanistan,Asia,652230,37466414,2065,23.90,23.90,7.0,7.8700,4.717013e+06,13.50,46.0,34903.0,1.20
1,Akrotiri,Middle East,123,18195,0,NaN,NaN,NaN,0.8850,NaN,NaN,1.0,NaN,NaN
2,Albania,Europe,28748,3088385,13965,5.83,5.83,71.8,102.4300,2.196613e+06,71.85,3.0,3945.0,1.30
3,Algeria,Africa,2381740,43576691,11511,11.70,11.70,27.5,131.0850,2.481953e+07,59.58,149.0,104000.0,6.00
4,American Samoa,Oceania,224,46366,11200,29.80,29.80,12.2,1.0000,1.700000e+04,31.30,3.0,241.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,West Bank,Middle East,5860,2949246,6220,27.90,27.90,24.4,3.6060,2.673000e+06,57.40,2.0,4686.0,NaN
250,World,World,510.072 million sq km,7772850805,17500,7.70,7.70,67.2,NaN,3.960000e+09,51.00,41820.0,64285009.0,2.21
251,Yemen,Middle East,527968,30399243,2500,27.00,27.00,74.5,275.0000,7.659884e+06,26.72,57.0,71300.0,4.30
252,Zambia,Africa,752618,19077816,3470,15.00,15.00,63.1,21.0650,2.351646e+06,14.30,88.0,67671.0,1.20
253,Zimbabwe,Africa,390757,14829988,2836,11.30,11.30,82.3,82.3138,3.796618e+06,27.06,196.0,97267.0,0.70

Ahora queremos identificar el tipo de datos en cada columna, en este caso, todas las columnas a excepción de **Name** y **Continent** deberían ser valores numéricos, ya sea **int** o **float**.

In [3]:
df.dtypes

Name                                        object
Continent                                   object
Area (km²)                                  object
Population                                  object
GDP (USD)                                    int64
Unemployment Rate                          float64
Taxes (% of GDP)                           float64
External Debt (USD)                        float64
Exchange Rate (USD)                        float64
Internet Users                             float64
Internet Users Percentage of Population    float64
Airports                                   float64
Roadways (km)                              float64
Militar Expenditures (% of GDP)            float64
dtype: object

Notemos que casi todos los datos tienen su tipo de dato correspondiente. Las columnas que pueden llegar a presentar problemas son las de **Area (km²)** y la de **Population**, ya que están marcadas como **object**. Veamos cómo se comportan estos datos, empecemos con la columna de población:

In [4]:
#for i in df['Population']:
#    print(i)

Notemos que hay datos que no tienen valores enteros, algunos tienen valor "no", otros "uninhabited" y uno que es flotante con 67.081. Veamos a qué filas les corresponde:

In [5]:
df[df['Population'] == "uninhabited"]

,Name,Continent,Area (km²),Population,GDP (USD),Unemployment Rate,Taxes (% of GDP),External Debt (USD),Exchange Rate (USD),Internet Users,Internet Users Percentage of Population,Airports,Roadways (km),Militar Expenditures (% of GDP)
30,Bouvet Island,Antarctic Region,49,uninhabited,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Clipperton Island,Political Map of the World,6,uninhabited,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,Heard Island and McDonald Islands,Antarctic Region,412,uninhabited,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,Navassa Island,Central America and the Caribbean,5,uninhabited,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df[df['Population'] == "no"]

,Name,Continent,Area (km²),Population,GDP (USD),Unemployment Rate,Taxes (% of GDP),External Debt (USD),Exchange Rate (USD),Internet Users,Internet Users Percentage of Population,Airports,Roadways (km),Militar Expenditures (% of GDP)
8,Antarctica,Antarctic Region,14.2,no,0,NaN,NaN,NaN,NaN,4400.0,100.0,17.0,NaN,NaN
13,Ashmore and Cartier Islands,Southeast Asia,5,no,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,British Indian Ocean Territory,Political Map of the World,60,no,0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,0.0,NaN
56,Coral Sea Islands,Oceania,3,no,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,French Southern and Antarctic Lands,Antarctic RegionAfrica,total,no,0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
116,Jan Mayen,Arctic Region,377,no,0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
210,South Georgia and South Sandwich Islands,Antarctic Region,3903,no,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,Spratly Islands,Southeast Asia,5,no,0,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN
240,United States Pacific Island Wildlife Refuges,Oceania,6959.41,no,0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
247,Wake Island,Oceania,7,no,0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN

In [7]:
df[df['Population'] == 67.081]

,Name,Continent,Area (km²),Population,GDP (USD),Unemployment Rate,Taxes (% of GDP),External Debt (USD),Exchange Rate (USD),Internet Users,Internet Users Percentage of Population,Airports,Roadways (km),Militar Expenditures (% of GDP)
238,United Kingdom,Europe,243610,67.081,46659,3.17,3.17,87.5,0.7836,61784878.0,94.9,460.0,394428.0,2.32

Veamos que los lugares con valores de "no" o de "uninhabited" son filas mayormente con valores nulos. Algunas (si es que no todas) no podrían considerarse como países, ya que son islas, territorios océanicos o zonas inhabitables. Por esta razón vamos a quitar de nuestro conjunto cualquier fila que presente alguna de estas características.

Por otro lado, el valor de **Population** con 67.081 le pertenece al Reino Unido. Vamos a asumir que su dato está expresado en unidades de millón y lo vamos a multiplicar por 1,000,000.

Aplicando los cambios a nuestro *DataFrame* tenemos:

In [8]:
counter = 0
for i in df['Population']:
    #print(i)
    if i == 67.081:
        #print(i)
        df.loc[df.index[counter], 'Population'] = int(i*1000000)
    if(i in ["no","uninhabited"]):
        df.drop(counter, inplace = True)
    counter += 1
df['Population'] = df['Population'].astype(int)
df['Population']

0      37466414
1         18195
2       3088385
3      43576691
4         46366
         ...
249     2949246
250    67081000
251    30399243
252    19077816
253    14829988
Name: Population, Length: 240, dtype: int64

Ya tenemos arreglada la columna de **Poblacion**, falta revisar la de **Area (km²)**. Veamos sus datos:

In [9]:
#for i in df['Area (km²)']:
#    print(i)

Notemos que algunos valores son **string** que tienen unidades expresadas en millones. Otros tienen solo un punto, lo cual asumiremos también indica que están en unidades de millones. Vamos a transformar todos los valores en **string**, quitar todas las comas y palabras de más, al final expresaremos todo de manera numérica de nuevo:

In [10]:
df['Area (km²)'] = df['Area (km²)'].astype(str)
df['Area (km²)'] = df['Area (km²)'].str.split().str[0]
df['Area (km²)'] = df['Area (km²)'].str.replace(',','')
counter = 0
for i in df['Area (km²)']:
    if '.' in i:
        #print(i)
        df.loc[df.index[counter], 'Area (km²)'] = int(float(i)*1000000)
    counter += 1
df['Area (km²)'] = df['Area (km²)'].astype(int)
df['Area (km²)']

0         652230
1            123
2          28748
3        2381740
4            224
         ...
249         5860
250    510072000
251       527968
252       752618
253       390757
Name: Area (km²), Length: 240, dtype: int64

Ya tenemos todos los tipos de datos que queremos en cada columna:

In [11]:
df.dtypes

Name                                        object
Continent                                   object
Area (km²)                                   int64
Population                                   int64
GDP (USD)                                    int64
Unemployment Rate                          float64
Taxes (% of GDP)                           float64
External Debt (USD)                        float64
Exchange Rate (USD)                        float64
Internet Users                             float64
Internet Users Percentage of Population    float64
Airports                                   float64
Roadways (km)                              float64
Militar Expenditures (% of GDP)            float64
dtype: object

Por si acaso, algo más que haremos será identificar datos atípicos. Recordemos que identificamos varios de estos al evaluar la columna de **Population**, ya que no tenían habitantes. Algo que podría también suceder es que tengamos entre nuestros datos a organizaciones de naciones enteras que no sean realmente un país. Una forma posible de poder identificarlos sería viendo las filas con las cantidades más grandes de población. Veamos las primeras 25:

In [12]:
df.sort_values(by=['Population'], ignore_index=True, ascending = False).head(25)

,Name,Continent,Area (km²),Population,GDP (USD),Unemployment Rate,Taxes (% of GDP),External Debt (USD),Exchange Rate (USD),Internet Users,Internet Users Percentage of Population,Airports,Roadways (km),Militar Expenditures (% of GDP)
0,China,Asia,9596960,1397897720,16117,3.64,3.64,47.0,6.53740,7.518861e+08,54.30,507.0,4960600.0,1.70
1,India,Asia,3287263,1339330514,6700,8.50,8.50,71.2,73.56500,4.467593e+08,34.45,346.0,4699024.0,2.90
2,European Union,European Union,4236351,450131902,44436,8.60,8.60,86.8,0.88500,3.981000e+08,85.00,NaN,10582653.0,1.40
3,United States,North America,9833517,334998398,62530,3.89,3.89,78.8,0.78360,2.855190e+08,87.27,13513.0,6586610.0,3.73
4,Indonesia,Southeast Asia,1904569,275122131,11812,5.31,5.31,28.8,14.00000,1.045631e+08,39.79,673.0,496607.0,0.70
5,Pakistan,Asia,796095,238181034,4690,6.00,6.00,67.0,160.42500,3.473469e+07,15.51,151.0,263775.0,4.00
6,Nigeria,Africa,923768,219463862,5136,16.50,16.50,21.8,383.50000,8.545005e+07,42.00,54.0,195000.0,0.50
7,Brazil,South America,8515770,213445417,14652,11.93,11.93,84.0,5.12745,1.409090e+08,67.47,4093.0,2.0,1.50
8,Bangladesh,Asia,148460,164098818,4754,4.40,4.40,33.1,84.75000,2.391795e+07,15.00,18.0,369105.0,1.30
9,Russia,Asia,17098242,142320790,27044,4.60,4.60,15.5,73.75690,1.149205e+08,80.86,1218.0,1283387.0,4.00
10,Mexico,North America,1964375,130207371,19796,3.49,3.49,54.3,19.80000,8.284337e+07,65.77,1714.0,398148.0,0.50
11,Japan,Asia,377915,124687293,41429,2.36,2.36,237.6,104.20500,1.067256e+08,84.59,175.0,1218772.0,1.00
12,Ethiopia,Africa,1104300,110871031,2221,17.50,17.50,54.2,25.00000,1.911847e+07,18.62,57.0,120171.0,0.70
13,Philippines,Southeast Asia,300000,110818325,8908,5.11,5.11,39.9,48.05500,6.358898e+07,60.05,247.0,216387.0,1.00
14,Egypt,Africa,1001450,106437241,11763,7.86,7.86,103.0,15.69000,4.664473e+07,46.92,83.0,65050.0,1.20
15,"Congo, Democratic Republic of the",Africa,2344858,105044646,1098,NaN,NaN,18.1,1.00000,8.231357e+06,8.62,198.0,152373.0,0.70
16,Vietnam,Southeast Asia,331210,102789598,8041,3.11,3.11,58.5,23.00000,6.826788e+07,70.35,45.0,195468.0,2.30
17,Iran,Middle East,1648195,85888910,12389,11.80,11.80,39.5,32.00000,5.811732e+07,70.00,319.0,223485.0,3.80
18,Turkey,Middle East,783562,82482383,28424,13.68,13.68,28.3,7.81925,5.772514e+07,71.04,98.0,67333.0,1.86
19,Germany,Europe,357022,79903481,53919,4.98,4.98,63.9,0.82771,7.220277e+07,89.74,539.0,625000.0,1.56
20,Thailand,Southeast Asia,513120,69480520,18460,0.99,0.99,41.9,30.03000,3.898753e+07,56.82,101.0,180053.0,1.40
21,France,Europe,643801,68084217,46184,8.12,53.80,96.8,0.82771,5.526572e+07,82.04,464.0,29640.0,2.04
22,World,World,510072000,67081000,17500,7.70,7.70,67.2,NaN,3.960000e+09,51.00,41820.0,64285009.0,2.21
23,Italy,Europe,301340,62390364,42492,9.88,9.88,131.8,0.82771,4.630530e+07,74.39,129.0,487700.0,1.39
24,Tanzania,Africa,947300,62092761,2660,10.30,10.30,37.0,2.00000,1.386284e+07,25.00,166.0,87581.0,1.30

Notemos que sí tenemos dos datos que no son países en nuestro *DataFrame*. Una fila es la Unión Europea y otra es el mundo entero (curiosamente hay un error porque la población del mundo es menor que la de otros países). Vamos a eliminar estas filas de nuestro *DataFrame*, no deberían pertenecer a nuestros datos:

In [13]:
df = df[df.Name != 'World']
df = df[df.Name != 'European Union']

Recordemos que para aplicar modelos de aprendizaje a nuestro conjunto de datos es importante no tener valores nulos. Veamos cuál es el porcentaje de valores nulos de cada columna:

In [14]:
for c in df.columns:
    miss = df[c].isna().sum()/len(df)
    if miss > 0:
        print("{} tiene el {} de valores NaN".format(c, miss))
    else:
        print("{} NO tiene valores faltantes".format(c))

Name NO tiene valores faltantes
Continent NO tiene valores faltantes
Area (km²) NO tiene valores faltantes
Population NO tiene valores faltantes
GDP (USD) NO tiene valores faltantes
Unemployment Rate tiene el 0.08403361344537816 de valores NaN
Taxes (% of GDP) tiene el 0.08403361344537816 de valores NaN
External Debt (USD) tiene el 0.11764705882352941 de valores NaN
Exchange Rate (USD) tiene el 0.004201680672268907 de valores NaN
Internet Users tiene el 0.046218487394957986 de valores NaN
Internet Users Percentage of Population tiene el 0.046218487394957986 de valores NaN
Airports tiene el 0.03361344537815126 de valores NaN
Roadways (km) tiene el 0.04201680672268908 de valores NaN
Militar Expenditures (% of GDP) tiene el 0.3025210084033613 de valores NaN

Notemos que la mayoría de nuestras columnas tiene un porcentaje bajo de valores NaN, la única con un porcentaje de valores nulos mucho mayor es el de **Militar Expenditures**. De todas formas este último, no es un porcentaje tan alto como para tirar toda la columna. Lo que haremos será reemplazar todos los valores NaN por la mediana de cada columna.

In [15]:
df = df.fillna(df.median())
df

,Name,Continent,Area (km²),Population,GDP (USD),Unemployment Rate,Taxes (% of GDP),External Debt (USD),Exchange Rate (USD),Internet Users,Internet Users Percentage of Population,Airports,Roadways (km),Militar Expenditures (% of GDP)
0,Afghanistan,Asia,652230,37466414,2065,23.90,23.90,7.0,7.8700,4717013.0,13.50,46.0,34903.0,1.2
1,Akrotiri,Middle East,123,18195,0,6.90,6.90,48.9,0.8850,2300557.0,60.05,1.0,19803.0,1.6
2,Albania,Europe,28748,3088385,13965,5.83,5.83,71.8,102.4300,2196613.0,71.85,3.0,3945.0,1.3
3,Algeria,Africa,2381740,43576691,11511,11.70,11.70,27.5,131.0850,24819531.0,59.58,149.0,104000.0,6.0
4,American Samoa,Oceania,224,46366,11200,29.80,29.80,12.2,1.0000,17000.0,31.30,3.0,241.0,1.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,Wallis and Futuna,Oceania,142,15851,3800,8.80,8.80,5.6,110.2000,3450.0,22.10,2.0,19803.0,1.6
249,West Bank,Middle East,5860,2949246,6220,27.90,27.90,24.4,3.6060,2673000.0,57.40,2.0,4686.0,1.6
251,Yemen,Middle East,527968,30399243,2500,27.00,27.00,74.5,275.0000,7659884.0,26.72,57.0,71300.0,4.3
252,Zambia,Africa,752618,19077816,3470,15.00,15.00,63.1,21.0650,2351646.0,14.30,88.0,67671.0,1.2
253,Zimbabwe,Africa,390757,14829988,2836,11.30,11.30,82.3,82.3138,3796618.0,27.06,196.0,97267.0,0.7

Desafortunadamente, hacer este tipo de acciones puede causar inconsistencias en algunos de los datos. Por ejemplo, la población de un país puede tener un valor de 10, pero si la mediana de la columna de número de usuarios de Internet llega a ser algo como 100, entonces esto no tendría sentido. Porque Esto tendríamos más usuarios de Internet que población si este último valor era originalmente NaN.

De momento esto no nos importa mucho porque para evaluar nuestros modelos de entrenamiento vamos a considerar solo algunas de las columnas que sí pueden llegar a ser relevantes para entrenar el modelo. Por ejemplo, no voy a considerar la columna de número de usuarios de Internet si ya tengo la del porcentaje.

Lo que sigue es la transformación en dato categórico de **GDP (USA)**. Las reglas son las siguientes:
* GDP $<$ 50: dato atípico (se elimina)
* 50 $\leq$ GDP $\leq$ 5,000: ingreso bajo
* 5,000 $<$ GDP $\leq$ 25,000: ingreso medio
* GDP $>$ 25,000: ingreso alto

Apliquemos esto a la columna del *DataFrame*:

In [16]:
def to_categoric(x):
    if(x < 50):
        return np.nan
    elif (50 <= x and x <= 5000):
        return 'Ingreso bajo'
    elif (5000 < x and x <= 25000):
        return 'Ingreso medio'
    elif (x > 25000):
        return 'Ingreso alto'
    else:
        return np.nan
df['GDP (USD)'] = df['GDP (USD)'].apply(to_categoric)

# Eliminar filas con valores atípicos
df = df[df['GDP (USD)'].notna()]

df

,Name,Continent,Area (km²),Population,GDP (USD),Unemployment Rate,Taxes (% of GDP),External Debt (USD),Exchange Rate (USD),Internet Users,Internet Users Percentage of Population,Airports,Roadways (km),Militar Expenditures (% of GDP)
0,Afghanistan,Asia,652230,37466414,Ingreso bajo,23.90,23.90,7.0,7.8700,4717013.0,13.50,46.0,34903.0,1.2
2,Albania,Europe,28748,3088385,Ingreso medio,5.83,5.83,71.8,102.4300,2196613.0,71.85,3.0,3945.0,1.3
3,Algeria,Africa,2381740,43576691,Ingreso medio,11.70,11.70,27.5,131.0850,24819531.0,59.58,149.0,104000.0,6.0
4,American Samoa,Oceania,224,46366,Ingreso medio,29.80,29.80,12.2,1.0000,17000.0,31.30,3.0,241.0,1.6
5,Andorra,Europe,468,85645,Ingreso alto,3.70,3.70,41.0,0.8850,78483.0,91.57,29.5,320.0,1.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,Wallis and Futuna,Oceania,142,15851,Ingreso bajo,8.80,8.80,5.6,110.2000,3450.0,22.10,2.0,19803.0,1.6
249,West Bank,Middle East,5860,2949246,Ingreso medio,27.90,27.90,24.4,3.6060,2673000.0,57.40,2.0,4686.0,1.6
251,Yemen,Middle East,527968,30399243,Ingreso bajo,27.00,27.00,74.5,275.0000,7659884.0,26.72,57.0,71300.0,4.3
252,Zambia,Africa,752618,19077816,Ingreso bajo,15.00,15.00,63.1,21.0650,2351646.0,14.30,88.0,67671.0,1.2
253,Zimbabwe,Africa,390757,14829988,Ingreso bajo,11.30,11.30,82.3,82.3138,3796618.0,27.06,196.0,97267.0,0.7

Ya hicimos todo el proceso que considero necesario para tener nuestros datos en la mejor condición posible y así aplicarlos a distintos modelos de entrenamiento. Pasemos a la siguiente etapa.

### Aplicar modelos de entrenamiento

#### Normalización y codificación de datos

Recordemos que para poder aplicar nuestros modelos de aprendizaje es recomendable normalizar y codificar los datos que vayamos a utilizar. Para ello, lo primero que haremos será derterminar cuáles columnas pueden resultar útiles al momento de aplicar el modelo de entrenamiento. En este caso vamos a considerar todas a excepción de: **Name** e **Internet Users**. La primera no la vamos a aplicar porque el nombre no debería ser algo que influencia en el GDP de un país, además es distinto para cada fila. La segunda columna mencionada la vamos a descartar porque creo quye ya tenemos suficiente información de este campo con el porcentaje de Internet.

Adicionalmente, la razón por la que mantengo una columna como la de **Continent**, es que a diferencia de **Name**, los valores se repiten a lo largo de varias filas; es un dato categórico. Puede que el continente al que pertenezca determinado país influencie en menor o mayor medida el GDP de algún país.

Lo primero que hacemos es quitar las columnas que no íbamos a usar para hacer los modelos:

In [17]:
df_data = df.drop(['Name', 'Internet Users'], axis = 1)

Lo que sigue es normalizar y codificar el resto de las columnas que vamos a estar utilizando. Lo primero sería codificar nuestras variables categóricas. Dos formas de hacer esto es con ```LabelEncoder``` y con ```OneHotEncoder```, funciones ofrecidas por **sklearn**. La primera nos permite redifinir todas las clases de dato categórico como valores enteros numéricos. La segunda separa en columnas cada categoría e indica con valores de 1 o 0 si pertenece o no a la clase de la columna correspondiente.

Lo conveniente es usar ```LabelEncoder``` para la columna de **GDP (USD)**, cuyos valores son los que vamos a estar prediciendo. Para el caso de **Continent** podríamos hacer lo mismo, pero como no son parte del vector de valores que queremos predecir, vamos a probar usar un ```OneHotEncoder``` en ellos. Para hacer eso, realizamos lo siguiente:

In [18]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

# OHE
df_data = df_data.join(pd.get_dummies(df_data['Continent']))
df_data = df_data.drop('Continent', axis = 1)

# Label Encoding
df_data['GDP (USD)'] = le.fit_transform(df_data['GDP (USD)'])

Ahora que ya están las columnas categóricas en un formato ideal, lo que sigue es normalizar las columnas con datos numéricos. Para ello podemos aplicar ```MinMaxScaler```, la cual es una función de **sklearn** que nos permite normalizar datos de todas las columnas que indiquemos.

In [19]:
scaler = preprocessing.MinMaxScaler()

columns = ['Area (km²)',
        'Population',
        'Unemployment Rate',
        'Taxes (% of GDP)',
        'Exchange Rate (USD)',
        'External Debt (USD)',
        'Internet Users Percentage of Population',
        'Airports',
        'Roadways (km)',
        'Militar Expenditures (% of GDP)']

df_data[columns] = scaler.fit_transform(df_data[columns])

#### Separación de columna a predecir

Ahora debemos separar la columna cuyos valores queremos predecir del resto del *DataFrame*. De esta manera podemos indicarle explícitamente a los modelos de entrenamiento qué es lo que va a predecir y sobre qué datos apoyarse para ello. Separamos en un arreglo *y*, la columna objetivo, **GDP (USD)**, y en una matriz *X* el resto de las columnas del *DataFrame* que vamos a usar en el modelo.

In [20]:
X = df_data.drop(['GDP (USD)'], axis = 1).values
y = df_data['GDP (USD)'].values

In [21]:
#print(f'X = {X}\n\ny = {y}')

#### Definición de los modelos de aprendizaje automático

A continuación tenemos que definir los modelos de aprendizaje automático supervisado que vamos a utilizar para este conjunto de datos. Lo que hay que tomar en cuenta para esta selección es que estamos trabajando con problemas de clasificación de múltiples categorías, así que hay que considerar únicamente modelos que hagan este tipo de trabajo. Hay varios de estos, por ejemplo:
* Naive Bayes
* Regresión Logística
* Máquinas de Soporte Vectorial
* K-Nearest Neighbors

Para este proyecto vamos a utilizar los 3 últimos. La librería de **sklearn** nos permite aplicar todos estos modelos de entrenamiento, así que definamos los tres clasificadores de una vez:

**Nota**: en el modelo de ```SVC``` podemos especificar un kernel. En este caso estuve experimentando con cuatro de los que ofrece: *linear*, *rbf*, *poly* y *sigmoid*. Como *linear* fue el que me arrojó mejores resultados en esta ocasión, decidí quedarme con ese. Si usaba algo como *rbf* obtenía peores resultados y esto provocaba que la regresión logística fuera el modelo ganador al final del proyecto. Como en este caso *lineal* era el de mejor desempeño, opté por quedarme con ese y resultó en tener mejores puntajes que la regresión logística.

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
#from sklearn.linear_model import SGDClassifier  #Esto es de pruebas con las que quise experimentar por separado
#from sklearn.naive_bayes import GaussianNB

lr = LogisticRegression(multi_class='ovr')
svc = SVC(kernel = 'linear', decision_function_shape = 'ovo') # Probé kernels 'linear', 'rbf', 'poly' y 'sigmoid', 
                                                            #el que mejor resultados dio en este caso fue linear 
knn = KNeighborsClassifier()
#nb = GaussianNB()
#sgd_clf.fit(X_norm, y_norm)
#cross_val_score(sgd_clf,X_norm, y_norm, cv = 5, scoring = 'accuracy')

#### Midiendo desempeño con validación cruzada

Ya que tenemos definidos nuestros tres clasificadores, vamos a evaluar el desempeño de cada uno sobre el conjunto de datos con validación cruzada. Para ello utilizaremos las cuatro métricas distintas que nos pide el problema:
* Exactitud (accuracy)
* Precisión
* Sensibilidad (recall)
* $F_1$

Definamos una función que se encargue de imprimir dado un modelo, el resultado de la validación cruzada para las distintas métricas. Para cada resultado de la validación cruzada, especificará el arreglo obtenido y su promedio. Finalmente dará un puntaje general que será el promedio de los promedios obtenido de cada métrica, este puntaje general lo definiremos como el desempeño total del clasificador.

Para hacer la validación cruzada vamos a aplicar la función de  ```cross_val_score```, a la cual le especificaremos $k=5$, el clasificador, nuestra matriz de datos, el vector de etiquetas y finalmente un **scoring**. Este **scoring** define la métrica que vamos a estar utilizando. Vamos a estar utilizando las métricas que ya mencionamos; pero hay que tener cuidado en cómo definimos a las de $F_1$, precisión y sensibilidad porque por defecto están pensadas para clasificación binaria. La solución a esto se encuentra en que le especifiquemos el *average* que va a considerar, las opciones que nos ofrece **sklearn** son *macro*, *micro* y *weighted*.

Acorde al [código](https://github.com/scikit-learn/scikit-learn/blob/7b136e9/sklearn/metrics/classification.py#L620) de **sklearn**, tenemos que *micro* calcula las métricas globales de todo el conjunto de datos, por falsos negativos, falsos positivos y positivos verdaderos; *macro* calcula las métricas de cada etiqueta y obtiene el promedio sin considerar la ponderación, esto quiere decir, que no va a tomar en cuenta el desbalance que hay en las proporciones de las tres distintas etiquetas que tenemos para **GDP (USD)**; finalmente está *weighted* que también calcula las métricas de cada etiqueta y además encuentra un promedio ponderado, considerando así las proporciones de las etiquetas.

En este caso, pienso que no hay mucho problema en usar cualquiera de las tres. Pero por si acaso, podemos ver las proporciones que tenemos de cada etiqueta:

In [23]:
df_data['GDP (USD)'].value_counts(normalize = True)

2    0.422907
0    0.348018
1    0.229075
Name: GDP (USD), dtype: float64

Vemos que las etiquetas sí están un tanto desbalanceadas. Más del 40% le corresponden a una sola, la más baja tiene un porcentaje de casi la mitad de la más grande y la otra se encuentra como en el medio de las dos. Dado esto, lo que haremos será utilizar un *average* que considere estas proporciones, *weighted* puede ser una opción aceptable en este caso.

Dicho todo lo anterior ahora sí definimos la función que mencionamos:

In [24]:
from sklearn.model_selection import cross_val_score

def cross_val_print(model, matrix, vector, k):
    ac = cross_val_score(model, matrix, vector, cv = k, scoring="accuracy") # Accuracy 
    pr = cross_val_score(model, matrix, vector, cv = k, scoring="precision_weighted") # Precision
    re = cross_val_score(model, matrix, vector, cv = k, scoring="recall_weighted") # Recall
    f1 = cross_val_score(model, matrix, vector, cv = k, scoring="f1_weighted") # F1
    print("Puntajes de métricas en validación cruzada:")
    print(f"Accuracy:\n\tVector = {ac}\n\tPromedio = {ac.mean()}")
    print(f"Precision:\n\tVector = {pr}\n\tPromedio = {pr.mean()}")
    print(f"Recall:\n\tVector = {re}\n\tPromedio = {re.mean()}")
    print(f"F1:\n\tVector = {f1}\n\tPromedio = {f1.mean()}")
    print(f"\nPromedio global (promedio de los promedios) = {(ac.mean() + pr.mean() + re.mean() + f1.mean())/4}")

Ahora imprimimos para cada clasificador su desempeño acorde a cada métrica y su "promedio global".

In [25]:
aux = "/////////////////////////////////////////////////////////////////////////"

print("REGRESIÓN LOGÍSTICA\n")
cross_val_print(lr, X, y, 5)
print("\n" + aux)
print("\nMÁQUINA DE SOPORTE VECTORIAL\n")
cross_val_print(svc, X, y, 5)
print("\n" + aux)
print("\nkNN\n")
cross_val_print(knn, X, y, 5)
print("\n\n")

REGRESIÓN LOGÍSTICA

Puntajes de métricas en validación cruzada:
Accuracy:
	Vector = [0.7826087  0.80434783 0.6        0.66666667 0.73333333]
	Promedio = 0.717391304347826
Precision:
	Vector = [0.78928673 0.80335323 0.59593319 0.66891775 0.74917184]
	Promedio = 0.7213325468380881
Recall:
	Vector = [0.7826087  0.80434783 0.6        0.66666667 0.73333333]
	Promedio = 0.717391304347826
F1:
	Vector = [0.7794686  0.80335078 0.59641813 0.66617827 0.73516755]
	Promedio = 0.7161166647959172

Promedio global (promedio de los promedios) = 0.7180579550824144

/////////////////////////////////////////////////////////////////////////

MÁQUINA DE SOPORTE VECTORIAL

Puntajes de métricas en validación cruzada:
Accuracy:
	Vector = [0.76086957 0.80434783 0.66666667 0.71111111 0.71111111]
	Promedio = 0.7308212560386474
Precision:
	Vector = [0.78182105 0.80584954 0.66542398 0.70774411 0.71996892]
	Promedio = 0.7361615185308101
Recall:
	Vector = [0.76086957 0.80434783 0.66666667 0.71111111 0.71111111]
	Promedio = 0.7308212560386474
F1:
	Vector = [0.7475276  0.80062112 0.66561897 0.70879451 0.71133539]
	Promedio = 0.7267795171662909

Promedio global (promedio de los promedios) = 0.7311458869435989

/////////////////////////////////////////////////////////////////////////

kNN

Puntajes de métricas en validación cruzada:
Accuracy:
	Vector = [0.7826087  0.65217391 0.6        0.71111111 0.8       ]
	Promedio = 0.7091787439613528
Precision:
	Vector = [0.7972209  0.64634839 0.60092593 0.70868406 0.80865801]
	Promedio = 0.7123674573823765
Recall:
	Vector = [0.7826087  0.65217391 0.6        0.71111111 0.8       ]
	Promedio = 0.7091787439613528
F1:
	Vector = [0.77392805 0.64762717 0.59984909 0.70660442 0.79751315]
	Promedio = 0.7051043748864145

Promedio global (promedio de los promedios) = 0.7089573300478742

Ya tenemos un registro del desempeño de cada modelo en distintas métricas usando la validación cruzada. El último paso es determinar al modelo ganador en nuestro conjunto de datos.

#### Determinación del modelo ganador

Para determinar el modelo ganador basta con observar los distintos puntajes que obtuvimos para cada modelo. Si nos fijamos, los tres modelos tienen puntajes muy parecidos entre sí para todas sus métricas y puntaje del desempeño general. Notemos cómo en todas las métricas, el modelo de **SVC** que definimos es el que obtuvo los mejores resultados. Esto resultó en que tuviera el mejor puntaje general de los 3 modelos propuestos. Luego tuvimos a la Regresión Logística con el segundo puntaje general más alto y también tuvo puntajes más altos en todas las métricas que el último modelo: **kNN**. **kNN** tuvo el porcentaje más bajo en todas las métricas que planteamos, resultando en que su puntaje general también fuera el peor. A pesar de esto, la diferencia entre el desempeño de los tres modelos es muy similar.

Considerando todo lo anterior, nuestro ganador es aquel que haya tenido el mejor desempeño en general considerando todas las métricas. Como el promedio de todas los puntajes de las métricas fue mayor en la máquina de soporte vectorial, establecemos que el modelo **SVC** definido es el ganador.

## Conclusiones

Después de haber limpiado y manipulado los datos que nos dieron fue posible aplicar distintos modelos de aprendizaje supervisado que ayudan a hacer predicciones. En este caso, los tres modelos planteados funcionaron de manera adecuada y tuvieron resultados muy similares. En este caso particular, el modelo de **SVC** resultó ser nuestro ganador debido a que tuvo los mejores resultados en las cuatro métricas que utilizamos.

Para desarrollar todo este proyecto se ocuparon de distintas técnicas y herramientas. Lo primero fue el *Data Wrangling* sobre nuestras columnas de datos. En estas presentamos problemas de valores que no eran numéricos donde deberían serlo, algunos casos con datos que tenían unidades expresadas de distinta manera al resto de la columna, también datos faltantes y atípicos. El mayor reto de esta sección fue encontrar cuáles eran los datos que no deberíamos tener en el *DataFrame*, por ejemplo los océanos, el Mundo y la Unión Europea.

Después de estas transformaciones a datos categóricos y limpieza en el *Data Wrangling* siguió otro nuevo reto para el proyecto. Éste era el de preparar los datos para nuestros modelos de aprendizaje supervisado. Lo que requerimos fue primero hacer los procesos de codificación para nuestros datos categóricos. Aquí nos fueron útiles las herramientas de ```OneHotEncoder``` y ```LabelEncoder``` que ofrecía **sklearn**. El segundo nos permitió redefinir nuestros datos como valores enteros y el primero transformó los datos en valores de 1s y 0s separados en distintas columnas de la categoría correspondiente. Esto resultó muy útil para aplicar posteriormente nuestros modelos.

Junto con este mismo proceso algo que vino involucrado fue la normalización de los datos. Originalmente había probado los modelos de clasificación sin hacer este proceso y estaba obteniendo puntajes un tanto bajos en las métricas. Pero una vez que decidí normalizar los datos, hubo una buena mejoría en los resultados. Esto fue realizado también con ayuda de la librería de **sklearn** y su función de ```MinMaxScaler```, que normaliza los datos de las columnas que indiquemos. 

Una vez que se hizo todo esto, siguió el paso central del proyecto: la definición de los modelos y su evaluación. Realizar esto no presentó mayor problema. Primero definíamos los modelos de kNN, Máquinas de Soporte Vectorial y Regresión Logística con **sklearn** y les añadíamos los parámetros que consideráramos necesarios. Lo que me pareció interesante fue cómo la máquina de soporte vectorial mejoraba o empeoraba su desempeño con distintos *kernel*, al final resultando que para nuestro conjunto de datos particular la mejor opción era el kernel lineal. 

La segunda parte de este paso consistía en medir el desempeño de los tres modelos con validación cruzada. También se usó una función de **sklearn**: ```cross_val_score``` y obtuvimos los distintos valores para las 4 métricas propuestas por el problema. El problema que me encontré fue en tener que especificar las métricas, ya que al no especificar el promedio que se usaría en la evaluación, se asumía que se trabajaba con una clasificación binaria. Para esto tuve que ver el código de la función de **f1** de **sklearn** y observar los distintos tipos de promedio que había, ya viendo cómo se comportaba el conjunto de datos opté por usar las métricas con promedio de *weighted*. Igualmente probé las demás y los resultados seguían siendo muy similares; así que no debió haber mucha diferencia al elegir cualquiera de las 3 opciones de promedio que ofrecían las funciones.

La parte final fue determinar nuestro modelo ganador. Pienso que esta fue la parte más sencilla porque para este momento ya hicimos todos los pasos difíciles que nos llevaban a este punto. Lo único que se hizo fue obtener un promedio de los promedios de la validación cruzada en cada métrica para cada modelo y ver cuál modelo devolvía el resultado más grande. Al final resultó que el modelo ganador fue la Máquina de Soporte Vectorial. Lo curioso fue que si definía este modelo con cualquier otro *kernel* que no fuera *linear*, tenía peores resultados y el modelo ganador terminaba siendo la Regresión Logística. Pero al final de todo, por cómo definí al final a **SVC**, opté por dejar a éste como el mejor modelo para la predicción de **GDP (USD)** en este conjunto de datos.

En conclusión, todos los pasos de *Data Wrangling*, codificación y normalización de datos son importantes para aplicar modelos de aprendizaje automático supervisado a un conjunto de datos. Además, es útil conocer más de un solo modelo, ya que para distintas situaciones algunos presentarán mejores resultados que otros. Por esto mismo, herramientas como la validación cruzada llegan a ser muy útiles al momento de evaluar los resultados de nuestros modelos y así compararlos para determinar cuál es el modelo ganador. Éste lo podremos usar para futuras predicciones con la menor probabilidad posible de cometer errores.